1. What are data structures, and why are they important
ans= Data structures are ways to organize and store data for efficient access and modification. They are important because they optimize operations like searching, sorting, and managing data, which improves program performance.

2.Explain the difference between mutable and immutable data types with examples
ans=If we can make changes the value of data types after assigning the value it is called mutable and opposite of this called immuatble.
list,set,dict is mutable and tuple is immutable

3. What are the main differences between lists and tuples in Python
ans=lists is mutable and tuples is immutable data types in python

4.Describe how dictionaries store data
ans= In dictionaries we need to give key and value pair for assigning the value and it is store in curly bracket .key and value is saperated by colun(:).
ex- A={'key':value}

5. Why might you use a set instead of a list in Python
ans=We might use set instead of list because if we want only unique value then we use set. set will remove duplicate value.

6.What is a string in Python, and how is it different from a list
ans=string is sequence of character enclosed with quotes in python and it is immutable.we can not change it after assign value to it.
while list is mutable collection of data that are saperated by commas.

7.How do tuples ensure data integrity in Python
ans= tuple is immutable data types so after storeing the value in tuple it is remain same.

8.What is a hash table, and how does it relate to dictionaries in Python
ans=A hash table is a data structure that maps keys to values using a hash function, allowing fast data retrieval.
In Python, dictionaries are implemented using hash tables, enabling quick access to values based on their keys.

9.Can lists contain different data types in Python
ans= yes lists can contain different data types in python

10.Explain why strings are immutable in Python
ans= strings is immutable in python because  we can not change any letter of that character.

11.What advantages do dictionaries offer over lists for certain tasks
ans=Dictionaries offer several advantages over lists for certain tasks like Faster lookups,uniquness of key,direct access of value using key.

12. Describe a scenario where using a tuple would be preferable over a list
ans=suppose we need to make data of birth date and blood group and it is confidencial for some reason then we use 
tuple over list because tuple is immutable so no one can change the original value that store.

13. How do sets handle duplicate values in Python
ans=if there is any duplicate values that store in sets then set will remove duplicate values in python.

14. How does the “in” keyword work differently for lists and dictionaries.
ans= In key word will check each element in list as per condition and in key for dictionaries will check that the key is present in dict or not.

15. Can you modify the elements of a tuple? Explain why or why not.
ans=no we can not modify the elements of a tuple because it is immutable data types.

16. What is a nested dictionary, and give an example of its use case
ans=nested dictionary is basicaly a dictionary that is value for key .ex={'a':{'b':25}} here b is nested dict. and {'b':25} is value for key a.

17. Describe the time complexity of accessing elements in a dictionary.
ans=The time complexity of accessing elements in a dictionary in Python is O(1) on average. This means that retrieving a
value from a dictionary using its key is a constant-time operation, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries
ans=if we want to store multiple data types we can use lists over dictionaries .also we want to perform task line slicing and all that in list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval
ans=Dictionaries are considered unordered in Python because the elements are stored based on a hash table implementation. This means that the order of elements in a dictionary is not guaranteed,
and the position of the keys can change over time as the dictionary grows or shrinks. and also they affect data retrival because dict not support indexing.
dictionaries are optimized for fast access by key but are unordered in terms of how they store the keys and values, which affects how data is presented or iterated over but not the speed of lookups.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
ans=in list we can retrival data using indexing and in dictionary we can not do that. in dict we need to give key for retriving the values.

Data Types and Structures Practical questions

1. Write a code to create a string with your name and print it.

In [1]:
a='smit'
print(a)

smit

2. Write a code to find the length of the string "Hello World".

In [2]:
a='hello world'
len(a)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
a='python programing'
a[:3]

'pyt'

4. Write a code to convert the string "hello" to uppercase.

In [4]:
a='hello'
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
aa='i like apple'
b=aa.replace('apple','orange')
b

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [22]:
a=[]
for i in range(1,6):
    a.append(i)
a

[1, 2, 3, 4, 5]

7.write a code to append the number 10 to the list [1, 2, 3, 4]

In [23]:
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [26]:
l=[1,2,3,4,5]
l.pop(2)
l

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [30]:
l=['a','b','c','d']
l[1:2]

['b']

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [34]:
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [37]:
l=(10,20,30)
l

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [38]:
l=('apple','banana','cherry')
l[0]

'apple'

13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [43]:
l=(1,2,3,2,4,2)
l.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [49]:
l=('dog','cat','rabbit')
ll=l.index('cat')
ll

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [53]:
l=('apple','orange','banana')
for i in l:
    if i=='banana':
        print('True')

True

16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [59]:
l=[]
for i in range(1,6):
    l.append(i)
ll=set(l)
ll

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [61]:
l={1,2,3,4}
l.add(6)
l

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [64]:
l=[]
for i in range(10,40,10):
    l.append(i)
ll=tuple(l)
ll

(10, 20, 30)

Question 19 to 24 is repeated.